<h1>Teachers login:</h1>
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <fieldset>
        <label for="id">ID: </label>
        <input type="text" id="id" formControlName="id" />
        <!-- Condition message for longer ID -->
        <!-- <p *ngIf="!loginForm.get('id')?.valid && (loginForm.get('id')?.dirty || submitted)">ID is too long</p> -->
        <!-- Condition to only numbers -->
        <p *ngIf="loginForm.get('id')?.errors?.['pattern']">Max. 5 numbers allowed and no letters</p>
    </fieldset>
    <fieldset>
        <label for="name">Name: </label>
        <input type="text" id="name" formControlName="name" />
        <!-- Add condition to show message when name doesn't exist -->
    </fieldset>
    <fieldset>
        <label for="password">Password: </label>
        <input type="text" id="password" formControlName="password" />
        <!-- Add condition to show message when password is not correct -->
    </fieldset>
    <button type="submit" [disabled]="">Login</button>
</form>
