<p>copyright works!</p>
<p>Copyright {{ year }}</p>
<label for="social">Show social</label>
<input type="text" name="social" id="social" #socialOutput />
<button (click)="addSocial(socialOutput.value)">Show</button>
